<ion-header no-border>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button (click)="toggleMenu()">
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title color="" class="ion-text-center">Estado de Pánico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card class="ion-padding">
    <ion-button (click)="acudirAlerta();" expand="block" color="tertiary">Acudir Alerta</ion-button>
  </ion-card>

</ion-content>
