<ion-header no-border>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button (click)="toggleMenu()">
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title color="" class="ion-text-center">Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="block" color="tertiary" (click)="irAlertaPrincipal()">Alerta Principal</ion-button>
  <ion-button expand="block" color="tertiary" (click)="irDatosPersonales()">Datos Personales</ion-button>
  

</ion-content>
