<ion-header no-border>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button (click)="toggleMenu()">
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title color="" class="ion-text-center">Botón de Pánico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-buttons>
      <ion-button (click)="verAlerta()">
        <ion-icon slot="icon-only" name="ellipse"></ion-icon>
      </ion-button>
    </ion-buttons>


    <ion-button class="alerta-rapida" expand="block" color="tertiary">alerta rápida</ion-button>



</ion-content>
<ion-footer>
  <ion-card class="ion-padding">
      <p>Llamar Números de emergencias.</p>
      <ion-button expand="block" color="tertiary">Ambulancia (131)</ion-button>
      <ion-button expand="block" color="tertiary">Bomberos (132)</ion-button>
      <ion-button expand="block" color="tertiary">Carabineros (133)</ion-button>
  </ion-card>
</ion-footer>