<ion-header no-border>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button (click)="toggleMenu()">
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title color="" class="ion-text-center">Botón de Pánico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-buttons>
      <ion-button (click)="verAlerta()">
        <ion-icon color="success" slot="icon-only" name="ellipse"></ion-icon>
      </ion-button>
    </ion-buttons>


    <div class="round-button"><div class="round-button-circle"><a href="#" class="round-button">Alerta Rápida</a></div></div>



</ion-content>
<ion-footer>
  <ion-card class="ion-padding">
      <p>Llamar Números de emergencias.</p>
      <ion-button color="ambulancia" expand="block">Ambulancia (131)</ion-button>
      <ion-button color="bombero" expand="block">Bomberos (132)</ion-button>
      <ion-button color="carabinero" expand="block">Carabineros (133)</ion-button>
  </ion-card>
</ion-footer>